@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="mainBox">
  <h2>Machine Details</h2>
  <hr />
  <h4>Name: @Html.DisplayFor(model => model.MachineName)</h4>
  
  @* <h4>Stylist Name: @Html.DisplayFor(model => model.Stylist.Name)</h4>  
  <h4>Client: @Html.DisplayFor(model => model.Client.Name)</h4> *@
  <p>@Html.ActionLink("Add Licensed Engineer", "AddEngineer", null, new { id = Model.MachineId }, new { @class = "btn btn-info btn-sm" })</p>
  <p>@Html.ActionLink("Edit Machine", "Edit", null, new { id = Model.MachineId }, new { @class = "btn btn-info btn-sm" })</p>
  <p>@Html.ActionLink("Delete Machine", "Delete", null, new { id = Model.MachineId }, new { @class = "btn btn-info btn-sm" })</p>
  <p>@Html.ActionLink("Back to list", "Index",null, null, new { @class = "btn btn-info btn-sm" })</p>
</div>