@{
  Layout = "_Layout";
}

@model Factory.Models.Incident

<div class="mainBox">
  <h2>Add a new Incident</h2>
  <hr />
  @using (Html.BeginForm())
  {
      @Html.LabelFor(model => model.IncidentTitle)
      @Html.TextBoxFor(model => model.IncidentTitle, 
      new {@required="required"})

      @Html.LabelFor(model => model.Description)
      @Html.TextBoxFor(model => model.Description, 
      new {@required="required"})

      @Html.Label("Date")
      @Html.TextBoxFor(model => model.IncidentDate, 
      new {@required="required", type="date"})
      
      <input type="submit" value="Create Incident" class="btn btn-info btn-large" />
  }
  <hr />
  <p>@Html.ActionLink("Show all Incidents", "Index",null, null, new { @class = "btn btn-info btn-large" })</p>
</div>