@{
  Layout = "_Layout";
}

@model Factory.Models.Incident

<div class="mainBox">
  <h2>Edit Incident</h2>
  <hr />
  <h4>Edit this Incident @Html.DisplayFor(model => model.IncidentTitle)</h4>
  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.IncidentId)

      @Html.LabelFor(model => model.IncidentTitle)
      @Html.TextBoxFor(model => model.IncidentTitle, 
      new {@required="required"})

      @Html.LabelFor(model => model.Description)
      @Html.TextBoxFor(model => model.Description, 
      new {@required="required"})

      @Html.Label("Next Inspection Date")
      @Html.TextBoxFor(model => model.IncidentDate, 
      new {@required="required", type="date"})
     
      <input type="submit" value="Save" />
  }
  <hr />
  <p>@Html.ActionLink("Back to Incident list", "Index",null,null, new { @class = "btn btn-info btn-large" })</p>
</div>